.app.normal {
  --color-bg: #9e2a9aaa;
  --inverted-color-bg: #ffb7fdaa;
  
  --color-primary: #000000;
  --color-secondary: #37af4b;
  --inverted-color-primary: #ffffff;
  --color-secondary: #00d0df;
}
